<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65221649497-ju615eu9hhtl1hts6ggs014eq1gludnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65221649497-ju615eu9hhtl1hts6ggs014eq1gludnh</string>
	<key>API_KEY</key>
	<string>AIzaSyAuoidM8pVoLwb_65IVpCpflxfHFOI0pXY</string>
	<key>GCM_SENDER_ID</key>
	<string>65221649497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.eduardoazevedo.listacompras</string>
	<key>PROJECT_ID</key>
	<string>listacompras-2020-c3b28</string>
	<key>STORAGE_BUCKET</key>
	<string>listacompras-2020-c3b28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65221649497:ios:09e8d3117412686470fd48</string>
	<key>DATABASE_URL</key>
	<string>https://listacompras-2020-c3b28.firebaseio.com</string>
</dict>
</plist>